@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.body {
  background: linear-gradient(0deg, #d3cce3 0%, #e9e4f0 100%);
  background-repeat: no-repeat;
  min-height: 100vh;

  font-family: Inter;
}

.container {
  max-width: 1180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.nav {
  display: flex;

  width: 100%;

  margin: 0 auto;
  padding: 38px 130px;

  border-radius: 0px 0px 10px 10px;
  background: rgba(255, 255, 255, 0.7);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  margin: 0 auto;
}

.nav__link {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content {
  width: 100%;
  min-height: 800px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  background: rgba(255, 255, 255, 0.3);

  margin-top: 20px;
  padding: 20px;
}

.my__photo {
  height: 400px;
  border-radius: 20px;
}

.my__descr {
  margin-left: 20px;

  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.soc__links a img {
  width: 80px;
}

.calc {
  width: 430px;
  height: 690px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background: #7679b0;
}

.calc__expr {
  width: 390px;
  height: 100px;

  display: flex;
  justify-content: end;
  align-items: end;

  border-radius: 20px;
  background: #fff;

  margin-bottom: 20px;
  padding: 10px 20px;

  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.calc__btns {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.calc__row {
  display: flex;
  column-gap: 10px;
}

.calc__btn {
  width: 90px;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background: #2e2f3e;

  color: #fb0;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
}

.calc__btn__zero,
.calc__btn__equal {
  width: 190px;
}

.slider-container {
  position: relative;
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s;

  border-radius: 20px;
}

.slider img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.slider__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;

  margin-top: 20px;
}

.slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 32px;
  border: none;
  cursor: pointer;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

.card {
  width: 233px;
  height: 450px;

  display: flex;
  flex-direction: column;

  position: relative;

  padding: 20px;

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.card__title {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.card__descr {
  color: #595959;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.card__bottom {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  bottom: 20px;
  padding-right: 40px;
}

.card__price {
  display: flex;
}

.card__btn {
  display: flex;
}

.cart {
  width: 600px;
  height: 800px;

  background-color: rgba(255, 255, 255, 0.8);

  border-radius: 10px;
}

.cart__title {
  height: 50px;
  border-bottom: 1px solid #a3a3a3;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  padding: 0 30px;
}

.card__price {
  font-weight: 500;
}

.card__btn {
  background-color: rgb(255, 240, 230);
  color: rgb(209, 87, 0);
  padding: 8px 20px;
  border-radius: 999px;
  font-weight: 500;

  cursor: pointer;
}

.order {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;

  padding: 0 10px;

  position: relative;
}

.order__image {
  width: 100px;
}

.order__title {
}

.order__quantity {
  position: absolute;
  top: 40px;
  right: 100px;
}

.order__btns {
  display: flex;
  flex-direction: column;

  position: absolute;
  right: 60px;
  top: 35px;
}

.order__btn__add {
  width: 10px;
  cursor: pointer;
}

.order__btn__delete {
  width: 10px;
  cursor: pointer;
}

.order__sum {
  position: absolute;
  right: 10px;
}

.task {
  cursor: pointer;

  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.myModalContent {
  padding: 25px;
  background-color: white;
  border-radius: 16px;
  min-width: 250px;

  color: #000;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.question {
  margin-bottom: 10px;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answers input {
  margin-right: 10px;
}

.rigthAnswersOutput {
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
